<div class="container login-container" fxLayout="row" fxLayoutAlign="center center">
    <form (ngSubmit)="onSubmit()" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
        <mat-card class="laliform">
            <mat-card-title>SHOG.AI</mat-card-title>
            <mat-card-subtitle>Log in to your account</mat-card-subtitle>
            <mat-card-content>

                <mat-form-field class="full-width">
                    <input
                        id="nombreUsuarioInput"
                        matInput
                        placeholder="Usuario"
                        [(ngModel)]="nombre_usuario"
                        name="nombre_usuario"
                        autocomplete="username"
                        type="text"
                        required
                    />
                    <mat-error *ngIf="!nombre_usuario">
                        Usuario es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input
                        id="passwordInput"
                        matInput
                        placeholder="Contraseña"
                        [(ngModel)]="contrasena"
                        name="contrasena"
                        type="password"
                        autocomplete="current-password"
                        required
                    />
                    <mat-error *ngIf="!contrasena">
                        Contraseña es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <div class="full-width">
                    <!-- <mat-slide-toggle [(ngModel)]="rememberMe" name="rememberMe">Recordar usuario</mat-slide-toggle> -->
                </div>

            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button
                    mat-raised-button
                    id="login"
                    color="primary"
                    [disabled]="!nombre_usuario || !contrasena"
                    type="submit"
                >
                    LogIn
                </button>
                <!-- <button mat-button id="resetPassword" (click)="resetPassword()" type="button">  Reset Password</button> -->
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <p *ngIf="error" class="error">{{ error }}</p>
    </form>
</div>
