<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2> {{ titulo | uppercase }}</h2>
                   
                        <mat-form-field>
                            <input matInput 
                            type="search" 
                            id="search-carnet"
                            [(ngModel)]="carnetIdentidad"
                            placeholder="Ingrese carnet del Paciente">
                            <button matSuffix mat-icon-button aria-label="Search" (click)="searchPatient()">
                              <mat-icon>search</mat-icon>
                            </button>
                          </mat-form-field>
                          <div *ngIf="errorMessage" class="error">
                            {{ errorMessage }}
                          </div>
                          
                          <div *ngIf="patient">
                            <p>Nombre: {{ patient.nombre }}</p>
                            <p>Edad: {{ patient.edad }}</p>
                            <p>Teléfono: {{ patient.telefono }}</p>
                            <p>Dirección: {{ patient.direccion }}</p>
                          </div>
                          <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Seleccionar fecha</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                              
                              <mat-form-field>
                                <mat-label>Hora</mat-label>
                                <mat-select [(ngModel)]="horaSeleccionada" placeholder="Selecciona una hora">
                                  <mat-option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</mat-option>
                                </mat-select>
                              </mat-form-field>

                              <mat-form-field>
                                <mat-label>Seleccionar Crew</mat-label>
                                <mat-select [(ngModel)]="selectedCrew"  (selectionChange)="onCrewChange($event)" placeholder="Selecciona un crew">
                                  <mat-option *ngFor="let crew of crews" [value]="crew.crew_id">{{ crew.crew_code }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                              
                              <button mat-raised-button color="primary" (click)="createReservation()">Reservar</button>
                          </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>