<div class="row text-center mt-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="card-title" Carnet></div>
        <div class="contenedor">
          <img #img src="../../../assets/images/images/plantillacarnet3.png" crossorigin="Anonymous">
        </div>
        <div class="centrado">

          <h1>{{nombre}}</h1>

        </div>

      <!-- -  <qrcode  #parent [qrdata]="qrdata" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
         -->
        <canvas id="canvas" #micanvas width="950" height="994"  class="img-thumbnail"></canvas>
        
      </div>

    </div>

    <div class="text-center mt-2">
      <a id="download" class="btn btn-outline-danger" (click)="guardar_canvas_local()"> Download </a>

    </div>
  </div>

</div>