

<div >
  <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
              <div class="card-body text-center">
                <h2>PATIENTS</h2>
                <button mat-raised-button (click)="downloadCsv()"><img src="../../../../assets/images/images/export.png"></button>
                  <button mat-raised-button routerLink="/addpatient"><img src="../../../../assets/images/images/add.png"></button>
                  <table *ngIf="listPatients.length > 0" class="table table-striped mt-3">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">DNI</th>
                          <th scope="col">Phone</th>
                          <th scope="col">Address</th>
                          <th scope="col">Age</th>
                          <th scope="col">Actions</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of listPatients">
                          <td>{{ element.nombre }}</td>
                          <td>{{ element.carnet_identidad }}</td>
                          <td>{{ element.telefono }}</td>
                          <td>{{ element.direccion }}</td>
                          <td>{{ element.edad }}</td>
                         <td>
                              <button mat-raised-button (click)="eliminarPaciente(element.carnet_identidad)"><img src="../../../../assets/images/images/trash (2).png"></button>
                              <button mat-raised-button [routerLink]="['/editpatient', element.carnet_identidad]"><img src="../../../../assets/images/images/edit.png"></button>
                              <ng-container *ngIf="element.ya_calificado; else calificarBtn"> 
                                <button mat-raised-button (click)="verEvaluacion(element.id_paciente)" 
                                title="Ver Calificación">
          <img src="../../../../assets/images/images/ver.png">
        </button>
      </ng-container>

      <ng-template #calificarBtn>
        <button mat-raised-button (click)="calificarPaciente(element.id_paciente)" title="Calificar Paciente">
           <img src="../../../../assets/images/images/cerebral.png">
        </button>
      </ng-template>
                             
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listPatients.length == 0">No hay productos para mostrar</h5>
              </div>
          </div>
      </div>
  </div>
</div>