/* Estilo de la tarjeta base */
.dashboard-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: none; /* Sin bordes duros */
  border-radius: 12px;
}

/* Efecto al pasar el mouse (Hover) */
.dashboard-card:hover {
  transform: translateY(-5px); /* Se levanta un poco */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important; /* Sombra más fuerte */
}

/* Círculos de colores para los iconos */
.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Centrado */
}

.icon-circle mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: white;
}

/* Colores específicos */
.bg-blue { background-color: #1976d2; }    /* Reservas */
.bg-green { background-color: #43a047; }   /* Pacientes */
.bg-red { background-color: #d32f2f; }     /* Calificación */
.bg-orange { background-color: #fbc02d; }  /* Reportes */
.bg-purple { background-color: #5e35b1; }  /* Usuarios */

.welcome-section h2 {
  font-weight: 300;
}