<div class="titulo"  >
  <div >
    <h2>Diagnose</h2>
  <div>
    <h1 >Patient- {{showName}} {{showCarnet}}</h1>
</div>

<div class="container">
  
    <h1 class="title">Step 1.- The System is really complex. To begin with it please choose and specific area you want to Diagnose:</h1>
          <div >
            <img id="imagenes" src="../../../../assets/images/images/function2.png" (click)="funciones()" routerLink="/calify">
            <img id="imagenes" src="../../../../assets/images/images/estructura.jpeg"(click)="estructura()" routerLink="/calify">
            <img id="imagenes" src="../../../../assets/images/images/actividaes.jpeg">

          </div>
          <app-corporales [hidden]="isDisplayed" (b)="registrarcal($event)"></app-corporales>
        </div>

          
          <button mat-raised-button color="primary" href="#" class="btn btn-neutral" (click)="openDialog()">
            Generar Carnet
        </button>

   </div>

</div>